@import './mixins';
// .main-section {
//   padding-top: 4rem;
//   .cross-section {
//     display: grid;
//     gap: 1rem;
//     grid-template-columns: repeat(auto-fit, minmax(45vw, 1fr));
//   }
// }
.main-section {
  position: relative;
  height: 80vh;
  .vimeo-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    overflow: hidden;
    iframe {
      width: 100vw;
      height: 56.25vw;
      /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
      min-height: 100vh;
      min-width: 177.77vh;
      /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .6;
    backdrop-filter: blur(3px);
  }
  .content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
      font-size: 3rem;
      color: white;
      text-align: center;
      margin-bottom: 1rem;
    }
  }
}

.about-section {
  padding: 5em 0;
  h3 {
    margin-bottom: 1rem;
    text-align: center;
  }
  p {
    text-align: justify;
  }
  .grid {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 3rem;
    @include my_bp(sm) {
      flex-direction: row;
    }
    .item {
      width: 95%;
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: 7px 7px 10px 0 rgba(76, 110, 245, .1);
      padding: 2rem 1rem;
      @include my_bp(sm) {
        width: 25%;
      }
      svg {
        width: 100px;
        height: 100px;
        color: #4d8092;
      }
      h4 {
        margin-top: 2rem;
        font-size: 1.5rem;
      }
    }
  }
}

.solar-section {
  background-color: #fcfafa;
  padding: 4rem 0;
  h2 {
    font-size: 2rem;
    color: #234a58;
  }
  .button {
    background: #4d8092;
    padding: 1rem 2rem;
    color: white;
    font-weight: 400;
    text-decoration: none;
    transition: all 500ms ease-in;
    display: inline-block;
    margin-top: 1rem;
    @include my_bp(sm) {
      margin-top: 0;
    }
    &:hover {
      background: darken(#4d8092, 20);
    }
  }
  .grid {
    display: flex;
    align-items: center;
    flex-direction: column;
    @include my_bp(sm) {
      flex-direction: row;
    }
    .item {
      &.left {
        width: 100%;
        @include my_bp(sm) {
          width: 80%;
        }
      }
      &.right {
        width: 100%;
        @include my_bp(sm) {
          width: 20%;
        }
      }
    }
  }
}

$box-color: #4d8092;
.service-section {
  padding: 4rem 0;
  h3 {
    text-align: center;
    margin-bottom: 2rem;
  }
  .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .item {
      width: 30%;
      padding: 2rem;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: relative;
      cursor: pointer;
      @include my_bp(sm) {
        width: 20%;
      }
      &:hover {
        span {
          &:first-of-type {
            margin-right: 0;
            margin-left: 25%;
          }
          &:last-of-type {
            margin-left: 0;
            margin-right: 25%;
          }
        }
        &::before {
          transform: translateX(-25px) translateY(25px);
        }
        &::after {
          transform: translateX(25px) translateY(-25px);
        }
      }
      &::before {
        display: block;
        content: '';
        width: 75px;
        height: 75px;
        background-color: $box-color;
        position: absolute;
        opacity: .75;
        transition: all 500ms ease;
        transform: translateX(-25px) translateY(-25px);
      }
      &::after {
        display: block;
        content: '';
        width: 75px;
        height: 75px;
        background-color: darken($box-color, 5);
        position: absolute;
        opacity: .75;
        transition: all 500ms ease;
        transform: translateX(25px) translateY(25px);
      }
      span {
        font-family: 'Catamaran', sans-serif;
        font-weight: 800;
        font-size: 1.2rem;
        display: block;
        text-align: center;
        z-index: 1;
        color: white;
        text-shadow: 1px 1px 3px black;
        transition: all 500ms ease;
        @include my_bp(sm) {
          font-size: 1.5rem;
        }
        &:first-of-type {
          margin-right: 25%;
        }
        &:last-of-type {
          margin-left: 25%;
        }
      }
    }
  }
}

.product-section {
  padding: 4rem 0;
  h3 {
    text-align: center;
    margin-bottom: 2rem;
  }
  .swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 225px;
    height: 300px;
    text-decoration: none;
    background-color: #234a58;
    box-shadow: 7px 7px 10px 0 rgba(0, 0, 0, .4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    img {
      max-width: 100%;
      border-radius: 1rem;
      box-shadow: 7px 7px 10px 0 rgba(0, 0, 0, .4);
    }
    .text {
      display: flex;
      flex: 1;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1rem;
    }
    .image {
      padding: 1rem;
    }
    h4 {
      font-size: 1.2rem;
      text-align: center;
      color: white;
    }
  }
}