@import 'reset.scss';
@import './mixins';
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@200&family=Rubik&family=Catamaran:wght@800&display=swap');
html {
  font-size: 16px;
}

body {
  font-family: 'Overpass', sans-serif;
  font-weight: 200;
}

h1 {
  font-size: clamp(3em, 5vw, 5em);
  font-family: 'Catamaran', sans-serif;
  font-weight: 800;
}

h2 {
  font-size: clamp(2em, 4vw, 4em);
  font-family: 'Catamaran', sans-serif;
  font-weight: 800;
}

h3 {
  font-size: clamp(1.75em, 3vw, 3em);
  font-family: 'Rubik', sans-serif;
}

h4 {
  font-size: clamp(1.5em, 2vw, 2em);
  font-family: 'Rubik', sans-serif;
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
}

.container {
  padding: 0 clamp(1rem, 4vw, 4em);
}

.copy-section {
  background: #212121;
  color: #999;
  padding: 1.5rem;
  text-align: center;
}

.footer-section {
  background: #151515;
  color: white;
  padding: 4rem 0;
  .grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include my_bp(sm) {
      flex-direction: row;
    }
    .item {
      width: 100%;
      text-align: center;
      @include my_bp(sm) {
        width: 33.33%;
      }
    }
    .left {
      img {
        max-width: 100%;
        margin-bottom: 1rem;
      }
      p {
        font-size: .9rem;
      }
      h2 {
        font-size: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
        margin-top: 1rem;
        svg {
          color: #4d8092;
          margin-right: 1rem;
        }
      }
      .fb {
        background: #212121;
        color: white;
        display: inline-flex;
        align-items: center;
        padding: .5rem;
        font-size: .8rem;
        margin-top: 1rem;
        text-decoration: none;
        transition: all 500ms ease;
        &:hover {
          background: #234a58;
        }
        svg {
          margin-right: .5rem;
        }
      }
    }
    .right {
      h2 {
        font-size: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
        margin-top: 1rem;
        svg {
          color: #4d8092;
          margin-right: 1rem;
        }
      }
      h4 {
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          margin-right: .5rem;
        }
      }
    }
    .center {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h4 {
        margin-bottom: 1rem;
        margin-top: 1rem;
        font-size: 1.2rem;
      }
      ul {
        display: flex;
        flex-direction: column;
        li {
          display: block;
          margin-bottom: 1rem;
        }
        a {
          color: #4d8092;
          text-decoration: none;
          transition: all 500ms ease;
          &:hover {
            color: white;
          }
        }
      }
    }
  }
}