extend layouts/default.pug

block head
  link(rel="stylesheet", href="./style/home.scss")

include layouts/mixins.pug

block page
  section.main-section
    .vimeo-wrapper
      iframe(src='https://player.vimeo.com/video/487265302?background=1&autoplay=1&loop=1&byline=0&title=0&muted=1' frameborder='0' webkitallowfullscreen='' mozallowfullscreen='' allowfullscreen='')
    .overlay
    .content
      //- h1(data-aos="slide-down") INTRODUCING
      //- h1(data-aos="slide-up") CONTROL4 SMART HOME OS 3
      h1(data-aos="slide-down") Control your home from anywhere in the world
      h1(data-aos="slide-up") Life is one click away from being better

  section.about-section
    .container
      h3 About Us
      p(data-aos="fade-right") At Atlanta Autonetics, we provide premium automation solution make everything work together, so that your house is more safe, secure, smart, comfortable and more inspiring than ever. We integrate lighting, music, video, climate control, security and more into one simple system. We setup the system so that you can access and control it from anywhere in the world and determine when, where and how things happen, you decide what actions and events take place because only you know what is best for your lifestyle.

      .grid
        .item(data-aos="fade-right")
          svg(fill='currentColor' width='28' height='28' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 24 24' preserveaspectratio='xMidYMid meet')
            path(xmlns='http://www.w3.org/2000/svg' fill='none' d='M0 0h24v24H0z')
            path(xmlns='http://www.w3.org/2000/svg' d='M17.66 9.53l-7.07 7.07-4.24-4.24 1.41-1.41 2.83 2.83 5.66-5.66 1.41 1.41zM4 12c0-2.33 1.02-4.42 2.62-5.88L9 8.5v-6H3l2.2 2.2C3.24 6.52 2 9.11 2 12c0 5.19 3.95 9.45 9 9.95v-2.02c-3.94-.49-7-3.86-7-7.93zm18 0c0-5.19-3.95-9.45-9-9.95v2.02c3.94.49 7 3.86 7 7.93 0 2.33-1.02 4.42-2.62 5.88L15 15.5v6h6l-2.2-2.2c1.96-1.82 3.2-4.41 3.2-7.3z')
          h4 Automate Your Life
        .item(data-aos="fade-up")
          svg(fill='currentColor' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 24 24' preserveaspectratio='xMidYMid meet')
            path(xmlns='http://www.w3.org/2000/svg' d='M0 0h24v24H0V0z' fill='none')
            path(xmlns='http://www.w3.org/2000/svg' d='M14.5 14.2l2.9 1.7-.8 1.3L13 15v-5h1.5v4.2zM22 14c0 4.41-3.59 8-8 8-2.02 0-3.86-.76-5.27-2H4c-1.15 0-2-.85-2-2V9c0-1.12.89-1.96 2-2v-.5C4 4.01 6.01 2 8.5 2c2.34 0 4.24 1.79 4.46 4.08.34-.05.69-.08 1.04-.08 4.41 0 8 3.59 8 8zM6 7h5v-.74A2.509 2.509 0 008.5 4 2.5 2.5 0 006 6.5V7zm14 7c0-3.31-2.69-6-6-6s-6 2.69-6 6 2.69 6 6 6 6-2.69 6-6z')
          h4 Be Safe & Secure
        .item(data-aos="fade-left")
          svg(fill='currentColor' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 24 24' preserveaspectratio='xMidYMid meet')
            path(xmlns='http://www.w3.org/2000/svg' d='M0 0h24v24H0V0z' fill='none')
            path(xmlns='http://www.w3.org/2000/svg' d='M18 14.49V9c0-1-1.01-2.01-2-2V3h-2v4h-4V3H8v2.48l9.51 9.5.49-.49zm-1.76 1.77L7.2 7.2l-.01.01L3.98 4 2.71 5.25l3.36 3.36C6.04 8.74 6 8.87 6 9v5.48L9.5 18v3h5v-3l.48-.48L19.45 22l1.26-1.28-4.47-4.46z')
          h4 Save Energy & Money

  section.solar-section(data-aos="zoom-in")
    .container
      .grid
        .item.left
          h2 We Offer A Wide Range Of Solar Technology Based Products And Services With Unbeatable Standards At A Modest Price.
        .item.right
          a.button(href="#") Find out More

  section.service-section
    .container
      h3 Services
      .grid
        +service("Home","Security")
        +service("Smart","Lighting")
        +service("Intercom","Anywhere")
        +service("Voice","Control")
        +service("Water","Control")
        +service("Universal","Remote")
        +service("Multi Room","Audio")
        +service("Home","Theatre")
        +service("Climate","Control")
        +service("Automatic","Door &Gate")

  section.solar-section(data-aos="zoom-in")
    .container
      .grid
        .item.left
          h2 An intelligent home always keeps you in the know.
          h4 Stay informed and in control of everything happening in and around your home, whether you are in the kitchen or across the world
        .item.right
          a.button(href="#") Find out More

  section.product-section
    .container
      h3 Products
      .swiper-container
        .swiper-wrapper
          +slide("#", "p1.jpg", "Controllers")
          +slide("#", "p2.jpg", "Tabletop Touch Screens")
          +slide("#", "p3.jpg", "Control4 App")
          +slide("#", "p4.jpg", "Wireless Keypad")

          +slide("#", "p5.jpg", "Wired Keypads")
          +slide("#", "p6.jpg", "Dimmers")
          +slide("#", "p7.jpg", "Switches")
          +slide("#", "p8.jpg", "Outlets")

          +slide("#", "p9.jpg", "Amplifiers & Receivers")
          +slide("#", "p10.jpg", "Thermostat")
          +slide("#", "p11.jpg", "Fan Speed Controller")
          +slide("#", "p12.jpg", "Locks")
        
          +slide("#", "p16.jpg", "Door Station")
          +slide("#", "p13.jpg", "Cameras")
          +slide("#", "p14.jpg", "Secutity Packages")
          +slide("#", "p15.jpg", "Triad Speaker")

        .swiper-pagination


  //- section.main-section
  //-   .container
  //-     .cross-section
  //-       .left
  //-       .right

block script
  script(src="./script/home.js")