<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    title Atlanta Autonetics
    meta(name='description', content='Atlanta Autonetics')

    link(rel="stylesheet", href="./style/main.scss")
    link(rel="stylesheet", href="./style/navbar.scss")

    link(rel='apple-touch-icon' sizes='57x57' href='./fav/apple-icon-57x57.png')
    link(rel='apple-touch-icon' sizes='60x60' href='./fav/apple-icon-60x60.png')
    link(rel='apple-touch-icon' sizes='72x72' href='./fav/apple-icon-72x72.png')
    link(rel='apple-touch-icon' sizes='76x76' href='./fav/apple-icon-76x76.png')
    link(rel='apple-touch-icon' sizes='114x114' href='./fav/apple-icon-114x114.png')
    link(rel='apple-touch-icon' sizes='120x120' href='./fav/apple-icon-120x120.png')
    link(rel='apple-touch-icon' sizes='144x144' href='./fav/apple-icon-144x144.png')
    link(rel='apple-touch-icon' sizes='152x152' href='./fav/apple-icon-152x152.png')
    link(rel='apple-touch-icon' sizes='180x180' href='./fav/apple-icon-180x180.png')
    link(rel='icon' type='image/png' sizes='192x192' href='./fav/android-icon-192x192.png')
    link(rel='icon' type='image/png' sizes='32x32' href='./fav/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='96x96' href='./fav/favicon-96x96.png')
    link(rel='icon' type='image/png' sizes='16x16' href='./fav/favicon-16x16.png')
    link(rel='manifest' href='./manifest.webmanifest')
    meta(name='msapplication-TileColor' content='#ffffff')
    meta(name='msapplication-TileImage' content='./fav/ms-icon-144x144.png')
    meta(name='theme-color' content='#ffffff')


    block head

  body
    include navbar.pug

    block page

    footer
      section.footer-section
        .container
          .grid
            .item.left
              img(src="./images/logo-white.png")
              p ROOM NO:6/574, Main Road, North Paravoor, 
              p Ernakulam District,Kerala , PIN-683513
              h2 
                svg(fill='currentColor' width='40' height='40' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 24 24' preserveaspectratio='xMidYMid meet' x='13386')
                  path(xmlns='http://www.w3.org/2000/svg' d='M0 0h24v24H0z' fill='none')
                  path(xmlns='http://www.w3.org/2000/svg' d='M20.01 15.38c-1.23 0-2.42-.2-3.53-.56a.977.977 0 00-1.01.24l-1.57 1.97c-2.83-1.35-5.48-3.9-6.89-6.83l1.95-1.66c.27-.28.35-.67.24-1.02-.37-1.11-.56-2.3-.56-3.53 0-.54-.45-.99-.99-.99H4.19C3.65 3 3 3.24 3 3.99 3 13.28 10.73 21 20.01 21c.71 0 .99-.63.99-1.18v-3.45c0-.54-.45-.99-.99-.99z')
                | +91 95394 43395

              a.fb(href="https://www.facebook.com/atlanta.autonetics" target="_blank") 
                svg(fill='currentColor' width='15' height='15' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 24 24' preserveaspectratio='xMidYMid meet' x='2378')
                  title(xmlns='http://www.w3.org/2000/svg') Facebook icon
                  path(xmlns='http://www.w3.org/2000/svg' d='M23.9981 11.9991C23.9981 5.37216 18.626 0 11.9991 0C5.37216 0 0 5.37216 0 11.9991C0 17.9882 4.38789 22.9522 10.1242 23.8524V15.4676H7.07758V11.9991H10.1242V9.35553C10.1242 6.34826 11.9156 4.68714 14.6564 4.68714C15.9692 4.68714 17.3424 4.92149 17.3424 4.92149V7.87439H15.8294C14.3388 7.87439 13.8739 8.79933 13.8739 9.74824V11.9991H17.2018L16.6698 15.4676H13.8739V23.8524C19.6103 22.9522 23.9981 17.9882 23.9981 11.9991Z')
                | Facebook
              

            .item.center
              h4 Quick Links
              ul
                li 
                  a(href="#") About Us
                li
                  a(href="#") Services
                li
                  a(href="#") Products
                li
                  a(href="#") Contact

            .item.right
              
              h4
                svg(fill='currentColor' width='28' height='28' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 21 15' preserveaspectratio='xMidYMid meet' x='6232')
                  defs(xmlns='http://www.w3.org/2000/svg')
                    lineargradient#IN_svg__a(x1='50%' y1='0%' x2='50%' y2='100%')
                      stop(stop-color='#FFF' offset='0%')
                      stop(stop-color='#F0F0F0' offset='100%')
                    lineargradient#IN_svg__b(x1='50%' y1='0%' x2='50%' y2='100%')
                      stop(stop-color='#FFA44A' offset='0%')
                      stop(stop-color='#FF9934' offset='100%')
                    lineargradient#IN_svg__c(x1='50%' y1='0%' x2='50%' y2='100%')
                      stop(stop-color='#1A9F0B' offset='0%')
                      stop(stop-color='#138806' offset='100%')
                  g(xmlns='http://www.w3.org/2000/svg' fill='none' fill-rule='evenodd')
                    path(fill='url(#IN_svg__a)' d='M0 0h21v15H0z')
                    path(fill='url(#IN_svg__b)' d='M0 0h21v5H0z')
                    path(fill='url(#IN_svg__c)' d='M0 10h21v5H0z')
                    path(fill='url(#IN_svg__a)' d='M0 5h21v5H0z')
                    circle(fill-opacity='.15' fill='#181A93' cx='10.5' cy='7.5' r='1.5')
                    path(d='M10.5 9.5a2 2 0 110-4 2 2 0 010 4zm0-.5a1.5 1.5 0 100-3 1.5 1.5 0 000 3z' fill='#181A93' fill-rule='nonzero')
                    circle(fill='#181A93' cx='10.5' cy='7.5' r='1')
                | +91 81292 71436

              h4
                svg(fill='currentColor' width='28' height='28' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 21 15' preserveaspectratio='xMidYMid meet')
                  defs(xmlns='http://www.w3.org/2000/svg')
                    lineargradient#AE_svg__a(x1='50%' y1='0%' x2='50%' y2='100%')
                      stop(stop-color='#FFF' offset='0%')
                      stop(stop-color='#F0F0F0' offset='100%')
                    lineargradient#AE_svg__b(x1='50%' y1='0%' x2='50%' y2='100%')
                      stop(stop-color='#12833B' offset='0%')
                      stop(stop-color='#0D7332' offset='100%')
                    lineargradient#AE_svg__c(x1='50%' y1='0%' x2='50%' y2='100%')
                      stop(stop-color='#262626' offset='0%')
                      stop(stop-color='#0D0D0D' offset='100%')
                    lineargradient#AE_svg__d(x1='50%' y1='0%' x2='50%' y2='100%')
                      stop(stop-color='#FF323E' offset='0%')
                      stop(stop-color='#FD0D1B' offset='100%')
                  g(xmlns='http://www.w3.org/2000/svg' fill='none' fill-rule='evenodd')
                    path(fill='url(#AE_svg__a)' d='M0 0h21v15H0z')
                    path(fill='url(#AE_svg__b)' d='M6 0h15v5H6z')
                    path(fill='url(#AE_svg__c)' d='M6 10h15v5H6z')
                    path(fill='url(#AE_svg__a)' d='M6 5h15v5H6z')
                    path(fill='url(#AE_svg__d)' d='M0 0h6v15H0z')
                | +971 5 5961 3236

              h4
                svg(fill='currentColor' width='28' height='28' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 21 15' preserveaspectratio='xMidYMid meet')
                  defs(xmlns='http://www.w3.org/2000/svg')
                    lineargradient#AE_svg__a(x1='50%' y1='0%' x2='50%' y2='100%')
                      stop(stop-color='#FFF' offset='0%')
                      stop(stop-color='#F0F0F0' offset='100%')
                    lineargradient#AE_svg__b(x1='50%' y1='0%' x2='50%' y2='100%')
                      stop(stop-color='#12833B' offset='0%')
                      stop(stop-color='#0D7332' offset='100%')
                    lineargradient#AE_svg__c(x1='50%' y1='0%' x2='50%' y2='100%')
                      stop(stop-color='#262626' offset='0%')
                      stop(stop-color='#0D0D0D' offset='100%')
                    lineargradient#AE_svg__d(x1='50%' y1='0%' x2='50%' y2='100%')
                      stop(stop-color='#FF323E' offset='0%')
                      stop(stop-color='#FD0D1B' offset='100%')
                  g(xmlns='http://www.w3.org/2000/svg' fill='none' fill-rule='evenodd')
                    path(fill='url(#AE_svg__a)' d='M0 0h21v15H0z')
                    path(fill='url(#AE_svg__b)' d='M6 0h15v5H6z')
                    path(fill='url(#AE_svg__c)' d='M6 10h15v5H6z')
                    path(fill='url(#AE_svg__a)' d='M6 5h15v5H6z')
                    path(fill='url(#AE_svg__d)' d='M0 0h6v15H0z')
                | +971 5 5227 3573

      section.copy-section &copy; 2020 Atlanta Autonetics. All Rights Reserved.

    block script