mixin service(text1, text2)
  .item(data-aos="zoom-in")
    span= text1
    span= text2

mixin slide(link, image, text)
  a.swiper-slide(href=link)
    .image
      img(src="./images/"+image)
    .text
      h4= text