#navbar
  .logo
  .menu
    ul 
      include menu.pug
  .menu-btn
    span
    span
    span
    span

#aside
  .overlay
  .menu
    .logo
    ul
      include menu.pug

script(src="./script/nav.js")